*.a
*.sw*

*.cmake
CMakeCache.txt
CMakeFiles
Makefile
compile_commands.json
moc_*
*.moc
hardfork.hpp

Graphene.cbp

libraries/utilities/git_revision.cpp

libraries/wallet/Doxyfile
libraries/wallet/api_documentation.cpp
libraries/wallet/doxygen

libraries/egenesis/egenesis_brief.cpp
libraries/egenesis/egenesis_full.cpp
libraries/egenesis/embed_genesis

# not sure about this
libraries/encrypt/test_encrypt

programs/cli_wallet/cli_wallet
programs/js_operation_serializer/js_operation_serializer
programs/witness_node/witness_node
programs/build_helpers/cat-parts
programs/build_helpers/member_enumerator
programs/debug_node/debug_node
programs/delayed_node/delayed_node
programs/genesis_util/genesis_update
programs/genesis_util/get_dev_key
programs/size_checker/size_checker


tests/app_test
tests/chain_bench
tests/chain_test
tests/intense_test
tests/package_test
tests/performance_test
tests/generate_empty_blocks

doxygen

wallet.json
witness_node_data_dir

*.wallet

programs/witness_node/object_database/*

object_database/*

*.pyc
*.pyo


.idea/
# vendors mut not be in repository
*/**/vendor/
CMakeLists.txt.user

xcode/***

build/

*.[oa]
*~
*.obj
*.pro.user*
programs/gui_wallet/prj/*/*/Makefile*
programs/gui_wallet/prj/gui_wallet/gui_wallet_qt/gui_wallet
programs/gui_wallet/sys/*/bin/*
programs/gui_wallet/sys/*/.objects/*
programs/gui_wallet/prj/*/*/debug/*
programs/gui_wallet/prj/*/*/release/*
moc_*.cpp
workspaces
.gitattributes
programs/gui_wallet/prj/*/*/x64
programs/gui_wallet/prj/*/*/Win32
programs/gui_wallet/prj/*/*/*.filters*
!programs/gui_wallet/sys/*/bin/setup_environment.bat
programs/gui_wallet/prj/tests/cli_wallet_test_vs15/*
!programs/gui_wallet/prj/tests/cli_wallet_test_vs15/cli_wallet_test.vcxproj
!programs/gui_wallet/prj/tests/cli_wallet_test_vs15/cli_wallet_test.sln
programs/gui_wallet/prj/tests/cli_wallet_test_vs13/*
!programs/gui_wallet/prj/tests/cli_wallet_test_vs13/cli_wallet_test.vcxproj
!programs/gui_wallet/prj/tests/cli_wallet_test_vs13/cli_wallet_test.sln
.DS_Store
.qmake.stash
gui_wallet.app
*wallet.json
*after-import-key-*.wallet
*.wallet
programs/gui_wallet/prj/gui_wallet/build-gui_wallet-Qt_5_7_1_clang_64-Debug

programs/.DS_Store



*.[oa]
*~
*.obj
*.pro.user*
.DS_Store
programs/gui_wallet/prj/*/*/Makefile*
programs/gui_wallet/sys/*/bin/*
programs/gui_wallet/sys/*/.objects/*
programs/gui_wallet/prj/*/*/debug/*
programs/gui_wallet/prj/*/*/release/*
moc_*.cpp
workspaces
.gitattributes
programs/gui_wallet/prj/*/*/x64
programs/gui_wallet/prj/*/*/Win32
programs/gui_wallet/prj/*/*/*.filters*
!programs/gui_wallet/sys/*/bin/setup_environment.bat
programs/gui_wallet/prj/tests/*/*
!programs/gui_wallet/prj/tests/*/*.vcxproj
!programs/gui_wallet/prj/tests/*/*.sln
programs/gui_wallet/.DS_Store
.qmake.stash
gui_wallet.app
*wallet.json
*after-import-key-*.wallet
*.wallet
programs/gui_wallet/prj/gui_wallet/build-gui_wallet-Qt_5_7_1_clang_64-Debug
programs/gui_wallet/prj/gui_wallet/gui_wallet_qt/Makefile
packages/
transfer.log
Decent.cbp
programs/cli_wallet/packages/
programs/cli_wallet/transfer.log
programs/gui_wallet/prj/gui_wallet/gui_wallet_qt/*
!programs/gui_wallet/prj/gui_wallet/gui_wallet_qt/gui_wallet.pro

