[Unit]
Description=DCore node daemon

[Service]
Type=forking
Restart=on-failure
ExecStart=/usr/bin/decentd --daemon

[Install]
WantedBy=multi-user.target
