<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="2">
    <title>DECENT</title>
    <license file="LICENSE.md"/>
    <readme file="TERMS.rtf"/>
    <pkg-ref id="ch.decent.guiwallet"/>
    <options customize="never" require-scripts="false"/>
    <volume-check>
        <allowed-os-versions>
            <os-version min="10.12"/>
        </allowed-os-versions>
    </volume-check>
    <choices-outline>
        <line choice="default">
            <line choice="ch.decent.guiwallet"/>
        </line>
    </choices-outline>
    <choice id="default"/>
    <choice id="ch.decent.guiwallet" visible="false">
        <pkg-ref id="ch.decent.guiwallet"/>
    </choice>
    <pkg-ref id="ch.decent.guiwallet" version="0" onConclusion="none">DECENT.pkg</pkg-ref>
</installer-gui-script>
