<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="$(var.ProductId)" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="DECENT" UpgradeCode="C5B5889B-1B9D-4A6E-A714-F8E1DBE131C5">
    <Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" />

    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="LicenceAgreement.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />

    <Icon Id='ProductIcon' SourceFile='..\..\programs\gui_wallet\images\windows_decent_icons.ico' />

    <Property Id='ARPPRODUCTICON' Value='ProductIcon' />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="DECENTSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PlatformsComponents" />
      <ComponentGroupRef Id="IconEnginesComponents" />
      <ComponentGroupRef Id="ImageFormatsComponents" />
    </Feature>

    <Feature Id="VCRedist" Title="C++ Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist2017_64"/>
    </Feature>

    <InstallExecuteSequence/>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="DECENT">
          <Directory Id="DECENTIconEngines" Name="IconEngines" />
          <Directory Id="DECENTImageFormats" Name="ImageFormats" />
          <Directory Id="DECENTPlatforms" Name="Platforms" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Merge Id="VCRedist2017_64" SourceFile="$(var.MergeModulesPath)\Microsoft_VC141_CRT_x64.msm" DiskId="1" Language="0"/>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="DECENT" Guid="1B0570F1-CE5B-40DB-A676-ED749CC4B6E1">
        <File Id='DECENT.exe' Name='DECENT.exe' DiskId='1' Source='$(var.DCorePath)\bin\DECENT.exe' KeyPath='yes'>
          <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ProductName)" Description="$(var.ProductName) Wallet" Directory="ApplicationProgramsFolder" WorkingDirectory="APPLICATIONROOTDIRECTORY" Advertise="yes"/>
        </File>
        <!--RegistryValue Root="HKCU" Key="Software\[CompanyName][ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes" /-->
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
      </Component>

      <Component Id="decentd" Guid="AAA0E21D-F0DF-449D-83E0-99B3DD203EF8">
        <File Id='decentd.exe.exe' Name='decentd.exe' DiskId='1' Source='$(var.DCorePath)\bin\decentd.exe' KeyPath='yes' />
      </Component>

      <Component Id="cli_wallet" Guid="CEABB874-22B0-4315-BA63-E060DDF336DA">
        <File Id='cli_wallet.exe.exe' Name='cli_wallet.exe' DiskId='1' Source='$(var.DCorePath)\bin\cli_wallet.exe' KeyPath='yes' />
      </Component>

      <Component Id="LicenceAgreement" Guid="056CCA3F-36C6-48B6-B02A-2E5DFB00417B">
        <File Id='LicenceAgreement.rtf' Name='LicenceAgreement.rtf' DiskId='1' Source='LicenceAgreement.rtf' KeyPath='yes' />
      </Component>

      <!-- third-party -->
      <Component Id="ipfs" Guid="4F105D24-533A-4C2B-A139-7A6ED33EA775">
        <File Id='ipfs.exe' Name='ipfs.exe' DiskId='1' Source='$(var.IPFSPath)\ipfs.exe' KeyPath='yes' />
      </Component>

      <Component Id="Qt5Core" Guid="6B8CE1CA-19FC-4B9E-AD40-FDD8F181716D">
        <File Id='Qt5Core.dll' Name='Qt5Core.dll' DiskId='1' Source='$(var.QtPath)\bin\Qt5Core.dll' KeyPath='yes' />
      </Component>
      <Component Id="Qt5Gui" Guid="4FFAB5CC-3A45-45FB-88EB-A4053333FD3D">
        <File Id='Qt5Gui.dll' Name='Qt5Gui.dll' DiskId='1' Source='$(var.QtPath)\bin\Qt5Gui.dll' KeyPath='yes' />
      </Component>
      <Component Id="Qt5Svg" Guid="F86B1C0E-CAFE-48EA-9C83-FB731951430A">
        <File Id='Qt5Svg.dll' Name='Qt5Svg.dll' DiskId='1' Source='$(var.QtPath)\bin\Qt5Svg.dll' KeyPath='yes' />
      </Component>
      <Component Id="Qt5Widgets" Guid="A11A4F02-F323-4B97-8063-C51EE9167AE4">
        <File Id='Qt5Widgets.dll' Name='Qt5Widgets.dll' DiskId='1' Source='$(var.QtPath)\bin\Qt5Widgets.dll' KeyPath='yes' />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="PlatformsComponents" Directory="DECENTPlatforms">
      <Component Id="qwindows" Guid="8FF4C27F-7C07-4F8B-9226-9F62B9FC07A1">
        <File Id='qwindows.dll' Name='qwindows.dll' DiskId='1' Source='$(var.QtPath)\plugins\platforms\qwindows.dll' KeyPath='yes' />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="IconEnginesComponents" Directory="DECENTIconEngines">
      <Component Id="qsvgicon" Guid="121DCD7B-950B-42D9-8418-C08089230113">
        <File Id='qsvgicon.dll' Name='qsvgicon.dll' DiskId='1' Source='$(var.QtPath)\plugins\iconengines\qsvgicon.dll' KeyPath='yes' />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ImageFormatsComponents" Directory="DECENTImageFormats">
      <Component Id="qjpeg" Guid="24F05134-AD72-449A-B445-0942BE0638D5">
        <File Id='qjpeg.dll' Name='qjpeg.dll' DiskId='1' Source='$(var.QtPath)\plugins\imageformats\qjpeg.dll' KeyPath='yes' />
      </Component>
      <Component Id="qico" Guid="842E22D0-DFE6-4CBA-B9FF-B18C8B8B5724">
        <File Id='qico.dll' Name='qico.dll' DiskId='1' Source='$(var.QtPath)\plugins\imageformats\qico.dll' KeyPath='yes' />
      </Component>
      <Component Id="qsvg" Guid="EA7D6A19-217A-4916-AD8E-1182C3B44CC7">
        <File Id='qsvg.dll' Name='qsvg.dll' DiskId='1' Source='$(var.QtPath)\plugins\imageformats\qsvg.dll' KeyPath='yes' />
      </Component>
      <Component Id="qtga" Guid="C83739C0-D2A7-424D-BC00-825363576930">
        <File Id='qtga.dll' Name='qtga.dll' DiskId='1' Source='$(var.QtPath)\plugins\imageformats\qtga.dll' KeyPath='yes' />
      </Component>
      <Component Id="qtiff" Guid="8513007F-D074-4BB6-BEB4-BA999AE9A57C">
        <File Id='qtiff.dll' Name='qtiff.dll' DiskId='1' Source='$(var.QtPath)\plugins\imageformats\qtiff.dll' KeyPath='yes' />
      </Component>
      <Component Id="qwbmp" Guid="26883ABB-1535-457B-BF93-67BF5A4B3FC2">
        <File Id='qwbmp.dll' Name='qwbmp.dll' DiskId='1' Source='$(var.QtPath)\plugins\imageformats\qwbmp.dll' KeyPath='yes' />
      </Component>
      <Component Id="qwebp" Guid="DC5FC6B4-64EE-4AB2-B2CA-72049A8856A6">
        <File Id='qwebp.dll' Name='qwebp.dll' DiskId='1' Source='$(var.QtPath)\plugins\imageformats\qwebp.dll' KeyPath='yes' />
      </Component>
      <Component Id="qicns" Guid="C5D37E97-6D42-4D98-A208-CF3E3BC0E2DE">
        <File Id='qicns.dll' Name='qicns.dll' DiskId='1' Source='$(var.QtPath)\plugins\imageformats\qicns.dll' KeyPath='yes' />
      </Component>
      <Component Id="qgif" Guid="9E82ACB7-487F-47B7-8483-6FD0F7A5FCEA">
        <File Id='qgif.dll' Name='qgif.dll' DiskId='1' Source='$(var.QtPath)\plugins\imageformats\qgif.dll' KeyPath='yes' />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
