QMainWindow
{
   color:black;
   background-color:white;
}
QTextEdit[type='info']
{
   padding: 2em;
}
QLabel[type='rowlabel']
{
   padding-left: 2em;
   padding-right: 2em;
   min-height: 3em;
}
QLabel[name='highlighted']
{
   background-color: rgb(244, 244, 244);
}
QLabel[name='right']
{
   qproperty-alignment: 'AlignRight | AlignVCenter';
}
QLabel[name='highlightedright']
{
   background-color: rgb(244, 244, 244);
   qproperty-alignment: 'AlignRight | AlignVCenter';
}
QLabel[type='decentlogo']
{
   image: url(':/icon/images/decent_logo.svg');
   padding-top: 0.6em;
   padding-bottom: 0.6em;
   padding-left: 0;
   padding-right: 0;
   max-width: 5em;
   max-height: 3.3em;
   min-width: 1.5em;
   min-height: 3.3em;
   border-bottom: 1px solid rgb(240, 240, 240);
   border-right: 1px solid rgb(240, 240, 240);
   border-left: 0px;
   border-top: 0px;
}
QLabel[type='account']
{
   image: url(':/icon/images/user.svg');
   padding-top: 1.3em;
   padding-bottom: 1.3em;
   padding-left: 1em;
   padding-right: 1em;
   max-width: 1.5em;
   max-height: 1.9em;
   min-width: 1.5em;
   min-height: 1.9em;
   border-bottom: 1px solid rgb(240, 240, 240);
   border-right: 0px;
   border-left: 0px;
   border-top: 0px;
}
QLabel[type='row1spacer']
{
   padding-top: 1.3em;
   padding-bottom: 1.3em;
   max-width: 100em;
   max-height: 1.9em;
   min-width: 3.5em;
   min-height: 1.9em;
   border-bottom: 1px solid rgb(240, 240, 240);
   border-right: 0;
   border-left: 0px;
   border-top: 0px;
}
QLabel[type='balance']
{
   image: url(':/icon/images/balance.svg');
   image-position: right;
   padding-top: 1.3em;
   padding-bottom: 1.3em;
   padding-left: 1em;
   padding-right: 1em;
   max-width: 10em;
   max-height: 1.9em;
   min-width: 10em;
   min-height: 1.9em;
   border-bottom: 1px solid rgb(240, 240, 240);
   border-right: 1px solid rgb(240, 240, 240);
   border-left: 0px;
   border-top: 0px;
   color: rgb(27, 176, 104);
   /*qproperty-alignment: 'AlignLeft | AlignVCenter';*/
}
QLabel[type='tablesearchframe']
{
   padding: 0em;
   max-width: 20em;
   max-height: 2em;
   min-width: 6em;
   min-height: 2em;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   border: 1px solid gray;
   border-radius: 0.2em;
}
QLabel[type='tablesearch']
{
   image: url(':/icon/images/search.svg');
   padding-top: 0em;
   padding-bottom: 0em;
   padding-left: 0.5em;
   padding-right: 0.5em;
   max-width: 1em;
   max-height: 1em;
   min-width: 1em;
   min-height: 1em;
   border: 0px;
}

QLabel QComboBox
{
   /*applies to users combo*/
   max-width: 7em;
   max-height: 1em;
}
QDialog, QMainWindow, QMessageBox
{
   color: black;
   background-color: white;
}
QPushButton
{
   border: 0px;
   background-color: rgb(27, 176, 104);
   color: white;
}
QPushButton:!enabled
{
   border: 0px;
   background-color: rgb(180, 180, 180);
   color: rgb(30, 30, 30);
}

QPushButton[type='dialogaction']
{
   border: 0px;
   background-color: rgb(27, 176, 104);
   color: white;
   width: 8.25em;
   height: 2.25em;
   max-width: 8.25em;
   max-height: 2.25em;
   margin: 0px;
}
QPushButton[type='dialogaction'][enabled=false]
{
   border: 0px;
   background-color: rgb(180, 180, 180);
   color: rgb(30, 30, 30);
}
QPushButton[type='dialogcancel']
{
   border: 1px solid rgb(143,143,143);
   background-color: white;
   color: black;
   max-width: 8.25em;
   max-height: 2.25em;
   width: 8.25em;
   height: 2.25em;
   margin: 0px;
}
QPushButton[type='dialogcancel'][enabled=false]
{
   border: 1px solid rgb(143,143,143);
   background-color: rgb(180, 180, 180);
   color: rgb(30, 30, 30);
}
QPushButton[type='send']
{
   background-color: white;
   /*color: black;
   qproperty-icon: url(':/icon/images/send.png'), url(':/icon/images/inactive_send.png') disabled;*/
   image: url(':/icon/images/send.svg');

   padding-top: 1.3em;
   padding-bottom: 1.3em;
   padding-left: 0em;
   padding-right: 0em;
   max-width: 5em;
   max-height: 1.9em;
   min-width: 5em;
   min-height: 1.9em;
   border-bottom: 1px solid rgb(240, 240, 240);
   border-right: 0px;
   border-left: 0px;
   border-top: 0px;
}
QPushButton[type='send'][enabled=false]
{
   border: 0px;
   background-color: white;
   color: black;
}
QPushButton[type='dialogtextbutton']
{
   height: 1em;
   width: 4.5em;
   max-height: 1em;
   max-width: 4.5em;
   border: 0px;
   background-color: white;
   color: rgb(27, 176, 104);
}
QPushButton[type='dialogtextbutton'][enabled=false]
{
   border: 0px;
   background-color: white;
   color: gray;
}
QPushButton[type='tableicon']
{
   border: 0px;
   background-color: rgb(27, 176, 104);
   color: white;
   padding: 0.3em;
}
QPushButton[type='tableicon'][enabled=false]
{
   border: 0px;
   background-color: white;
   color: black;
}
QPushButton[name='transaction']
{
   image: url(':/icon/images/transaction_enabled.svg');
}
QPushButton[name='transaction'][enabled=false]
{
   image: url(':/icon/images/transaction_disabled.svg');
}
QPushButton[name='detail']
{
   image: url(':/icon/images/details_enabled.svg');
}
QPushButton[name='detail'][enabled=false]
{
   image: url(':/icon/images/details_disabled.svg');
}
QPushButton[name='transfer']
{
   image: url(':/icon/images/transfer_enabled.svg');
}
QPushButton[name='transfer'][enabled=false]
{
   image: url(':/icon/images/transfer_disabled.svg');
}
QPushButton[name='export']
{
   image: url(':/icon/images/export_enabled.svg');
}
QPushButton[name='export'][enabled=false]
{
   image: url(':/icon/images/export_disabled.svg');
}
QPushButton[type='staricon']
{
   border: 0px;
   background-color: white;

   max-width: 1em;
   max-height: 1em;
   width: 1em;
   height: 1em;

   image: url(':/icon/images/green_asterix.svg');
   /*qproperty-icon:   url(':/icon/images/green_asterix.png'),
                     url(':/icon/images/green_asterix.png') on,
                     url(':/icon/images/green_asterix.png') on disabled,
                     url(':/icon/images/white_asterix.png') off,
                     url(':/icon/images/white_asterix.png') off disabled;*/
}
QPushButton[type='staricon'][checked=false]
{
   image: url(':/icon/images/white_asterix.svg');
}
QPushButton[type='staricon'][enabled=false]
{
   border: 0px;
   background-color: white;
}
QPushButton[type='tabchoice']
{
   border: 0px;
   background-color: white;
   min-height: 2.5em;
   max-height: 2.5em;
   color: rgb(27, 176, 104);
   border-bottom: 0.2em solid rgb(27, 176, 104);
   border-right: 0px;
   border-left: 0px;
   border-top: 0px;
}
QPushButton[type='tabchoice'][checked=false]
{
   color: black;
   border-bottom: 1px solid rgb(240, 240, 240);
}
QMessageBox QPushButton, QFileDialog QPushButton
{
   border: 0px;
   background-color: rgb(27, 176, 104);
   color: white;
   min-width: 6em;
   min-height: 2em;
   max-width: 10em;
   max-height: 2em;
}
QLineEdit
{
   border: 1px solid rgb(143, 143, 143);
}
QLineEdit:!enabled
{
   border: 1px solid lightGray;
   color: Gray;
}
QLineEdit[type='tablesearch']
{
   border: 0px;
   padding-left: 0em;
   padding-right: 0.5em;
   padding-top: 0em;
   padding-bottom: 0em;
   min-height: 1em;
   max-height: 1em;
}
QLineEdit[type='dialoglineedit']
{
   min-width: 15.5em;
   min-height: 2.5em;
   max-width: 25em;
   max-height: 2.5em;
   padding-left: 0.5em;
   padding-right: 0.5em;
}
QTextEdit[type='info']
{
   border: 0px;
}
QTextEdit[type='editor']
{
   border: 1px solid gray;
   padding: 0.5em;
}
QTextEdit QScrollBar:vertical
{
   border: 0px;
   background:white;
   width:7px;
   margin: 0px 0px 0px 0px;
}
QTextEdit QScrollBar::handle:vertical
{
   background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop: 0 rgb(180,180,180), stop: 0.5 rgb(180,180,180), stop:1 rgb(180,180,180));
   min-height: 0px;
}
QTextEdit QScrollBar::add-line:vertical
{
   background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop: 0 rgb(180,180,180), stop: 0.5 rgb(180,180,180),  stop:1 rgb(180,180,180));
   height: 0px;
   subcontrol-position: bottom;
   subcontrol-origin: margin;
}
QTextEdit QScrollBar::sub-line:vertical
{
   background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop: 0  rgb(180,180,180), stop: 0.5 rgb(180,180,180),  stop:1 rgb(180,180,180));
   height: 0 px;
   subcontrol-position: top;
   subcontrol-origin: margin;
}
QProgressBar
{
   border-radius: 5px;
   border: 1px;
   height: 10px;
   max-height: 10px;
   width: 176px;
   max-width: 176px;
   background: rgb(224, 229, 235);
   qproperty-textVisible: false;
}
QProgressBar:chunk
{
   border-radius: 5px;
   border: 1px;
   background: rgb(31, 218, 129);
}
QPushButton[type='splashaction']
{
   border: 0px;
   background-color: rgb(31, 218, 129);
   color: white;
   width: 5em;
   height: 1.5em;
   max-width: 5em;
   max-height: 1.5em;
}



